.vs/
*.user
*.suo

bin/
obj/
[Bb]uild/
[Ll]og/

*.exe
*.dll
*.pdb
*.cache
*.log


*.userprefs
*.dbmdl
*.jfm

.vscode/

*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
packages/

PublishProfiles/
*.Publish.xml
appsettings.Development.json

Thumbs.db
ehthumbs.db
Desktop.ini