@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Vend.Data
@inject SignInManager<AppUser> SignInManager
@inject NavigationManager Nav

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EasyVend</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/browse">Browse Artworks</NavLink>
                </li>
            </ul>

            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <span class="navbar-text me-2">Hello, @context.User.Identity?.Name</span>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light" @onclick="Logout">Log out</button>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/signin">Sign In</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/business-signup">Sign Up for Business</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/customer-signup">Sign Up as Customer</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</div>

@code {
    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
        Nav.NavigateTo("/");
    }
}
