@page "/"

<div class="container text-center mt-5">
    <h1 class="mb-3">Welcome to EasyVend!</h1>
    <p class="lead mb-4">Create and manage your products like a pro!</p>

    <a class="btn btn-primary btn-lg mx-2" href="/business-signup">Sign Up for Business</a>
    <a class="btn btn-secondary btn-lg mx-2" href="/customer-signup">Sign Up as Customer</a>
    <a class="btn btn-success btn-lg mx-2" href="/browse">Browse Artworks</a>
</div>