@page "/"
@using Microsoft.AspNetCore.Components.Routing

<div class="container text-center mt-5">
    <h1 class="mb-3">Welcome to EasyVend!</h1>
    <p class="lead mb-4">Create and manage your products like a pro!</p>

</div>